In [2]:
from pymongo.mongo_client import MongoClient
import pandas as pd
import json

In [3]:
# unique resource identifier
uri = "mongodb+srv://AnonymousSurya:mongoDB1234@surya.1vzdoh5.mongodb.net/?retryWrites=true&w=majority"

# create a new client & connect to the server

client = MongoClient(uri)

In [4]:
# create database name and collection name
DATABASE_NAME="Credit_card_detection_project"
COLLECTION_NAME="credit_card_data"

In [34]:
# read the data as dataframe
df = pd.read_csv(r"D:\Projects\Credit Card Fault Detection\upload_data_to_database\data\CreditCardFraud_28011964_120214.csv")

In [35]:
df1=df[900:]

In [36]:
df1.tail()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
996,100000,1,2,1,29,0,0,0,0,-1,...,-2618,95748,101299,3320,5000,0,100000,7186,0,0
997,200000,2,2,1,28,0,0,0,0,0,...,97041,103541,3632,5000,2000,89000,6500,91,1504,0
998,90000,2,2,1,40,-1,-1,-1,-1,-1,...,657,1332,780,0,2806,2256,2274,780,0,0
999,360000,1,1,2,36,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
1000,150000,2,3,2,30,-2,-2,-2,-2,-2,...,2527,0,0,9664,3420,2612,0,0,0,1

In [37]:
df=df.drop(df.index[900:])

In [40]:
df1.shape

(101, 24)

In [41]:
# Convert the data into json
json_record=list(json.loads(df.T.to_json()).values())

In [42]:
# now dump the data into database
client[DATABASE_NAME][COLLECTION_NAME].insert_many(json_record)

In [46]:
test_file_path= r"D:\Projects\Credit Card Fault Detection\upload_data_to_database\data"

In [45]:
df1.to_csv("test_file.csv")